<div class="postContainer">
  <div>
    <img src={{lostObject1}}>
  </div>
  <div class="post">
    <h1 style="margin-top: 10px;">Descripción:</h1>
    <h2>Celular Lg de color negro </h2>
    <h1>Lugar donde se encontro:</h1>
    <h2>Biblioteca </h2>
    <h1>Correo de contacto:</h1>
    <h2>ivan.mancipe@uptc.edu.co</h2>
    <h1>Celular de Contacto:</h1>
    <h2>3122224998 </h2>
  </div>
</div>
<div class="postContainer">
  <div>
    <img src={{lostObject2}}>
  </div>
  <div class="post">
    <h1 style="margin-top: 10px;">Descripción:</h1>
    <h2>Carnet a nombre de Andres felipe cañas</h2>
    <h1>Lugar donde se encontro:</h1>
    <h2>Restaurante </h2>
    <h1>Correo de contacto:</h1>
    <h2>andres.canas@uptc.edu.co</h2>
    <h1>Celular de Contacto:</h1>
    <h2>3203461397 </h2>
  </div>
</div>
<div class="postContainer">
  <div>
    <img src={{lostObject3}}>
  </div>
  <div class="post">
    <h1 style="margin-top: 10px;">Descripción:</h1>
    <h2>billetera </h2>
    <h1>Lugar donde se encontro:</h1>
    <h2>Biblioteca </h2>
    <h1>Correo de contacto:</h1>
    <h2>andres.canas@uptc.edu.co</h2>
    <h1>Celular de Contacto:</h1>
    <h2>3203461397 </h2>
  </div>
</div>
<div class="postContainer">
  <div>
    <img src={{lostObject4}}>
  </div>
  <div class="post">
    <h1 style="margin-top: 10px;">Descripción:</h1>
    <h2> maleta </h2>
    <h1>Lugar donde se encontro:</h1>
    <h2>Biblioteca </h2>
    <h1>Correo de contacto:</h1>
    <h2>andres.canas@uptc.edu.co</h2>
    <h1>Celular de Contacto:</h1>
    <h2>3203461397 </h2>
  </div>
</div>
<div class="postContainer">
  <div>
    <img src={{lostObject5}}>
  </div>
  <div class="post">
    <h1 style="margin-top: 10px;">Descripción:</h1>
    <h2>cargador telefono </h2>
    <h1>Lugar donde se encontro:</h1>
    <h2>Biblioteca </h2>
    <h1>Correo de contacto:</h1>
    <h2>ivan.mancipe@uptc.edu.co</h2>
    <h1>Celular de Contacto:</h1>
    <h2>3122224998 </h2>
  </div>
</div>
