<div class="containerNavBar">
        <button class="containerIcons"><img src={{homeIconURL}}  alt="homeIcon" class="icons"></button>
        <app-button-nav-bar [buttonText]= "menuOptions[0]"></app-button-nav-bar>
        <app-button-nav-bar [buttonText]= "menuOptions[1]"></app-button-nav-bar>
        <app-button-nav-bar [buttonText]= "menuOptions[2]"></app-button-nav-bar>
        <app-button-nav-bar [buttonText]= "menuOptions[3]"></app-button-nav-bar>
        <button class="containerIcons"><img src={{backIconURL}}  alt="homeIcon" class="icons"></button>
</div>