<div class="middle panel-left">
    <h2>Unete a nuestra comunidad y ayuda a alguien</h2>
    <img width="70%" src="./assets/resources/icon-register.png">
</div>
<div class="middle panel-right">
    <h1>Crea tu cuenta</h1>
    <form>
        <label class="left">Nombre:</label>
        <input class="box" type="text">
        <label class="left">Apellidos:</label>
        <input class="box" type="text">
        <label class="left">Correo Electronico:</label>
        <input class="box" type="text">
        <label class="left">Contraseña:</label>
        <input class="box" type="password">
        <label class="left">Confirmar Contraseña:</label>
        <input class="box" type="password">
        <input type="checkbox" value="Recordarme">
        <label >Acepto todos los <a href="">Terminos y condiciones</a></label>
        <button class="ngSubmit box">Crear</button>
        ¿Ya tienes una cuenta? <a routerLink="/" routerLinkActive="active" >Loggeate</a>
    </form>
</div>
