<div class="middle panel-left">
    <h2>El sitio ideal para encontrar tus cosas perdidas en la U</h2>
    <img width="70%" src="./assets/resources/icon-login.png">
</div>
<div class="middle panel-right">
    <h1>Ingresa</h1>
    <form>
        <label class="left">Correo Electronico:</label>
        <input class="box" type="text">
        <label class="left">Contraseña:</label>
        <input class="box" type="password">
        <input type="checkbox" value="Recordarme">
        <label >Recordarme</label>
        <button class="box" routerLink="/Home">Ingresar</button>
        ¿No tienes una cuenta? <a routerLink="/registro" routerLinkActive="active">Registrate</a>
    </form>
</div>
